* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgb(155, 241, 219), rgb(141, 219, 250));
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#heading {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
}

h1 {
    margin-left: 5px;
    font-size: 45px;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

.form-container {
    padding: 10px;
    width: 90vw;
    border: 1px solid rgb(218, 223, 224);
    box-shadow: 0px 0px 6px 0px rgb(77, 207, 230);
    border-radius: 10px;
}

#inputButtonDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container input {
    font-size: 15px;
    width: 100%;
    padding: 10px;
    margin: 5px;
    border: 1px solid rgb(226, 226, 226);
    border-radius: 5px;
}

.form-container button {
    background-color: #1d44f5;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin: 5px;
    border: none;
    font-size: 18px;
}

.form-container button:hover {
    cursor: pointer;
    opacity: 0.8;
}

#messageDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#message {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(252, 253, 168);
    background-color: rgba(176, 214, 7, 0.644);
    width: 60%;
    margin: 10px;
    padding: 10px;
    border-radius: 15px;
}

/* stats css */
.stats li {
    margin: 10px;
    background-color: rgb(18, 241, 204);
    color: #03a80e;
    padding: 10px;
    border-radius: 5px;
    list-style: none;
}

.stats li a {
    color: #1d44f5;
}

.stats li a:hover {
    color: #5976f8;
    cursor: pointer;
}

.stats li i {
    color: #1d44f5;
    float: right;
}

.stats li i:hover {
    color: #5976f8;
    cursor: pointer;
}

.hide {
    display: none;
}

/* 404 error css */
#error-msg {
    text-align: center;
    margin-top: 100px;
    font-size: 70px;
}
#error-content {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

@media (max-width: 500px) {
    .form-container {
        width: 98vw;
    }
    body {
        font-size: 15px;
    }
    #submit {
        font-size: 15px;
    }
    .textInputDiv input {
        font-size: 14px;
    }
    h1 {
        font-size: 40px;
    }
}

@media (max-width: 370px) {
    #inputButtonDiv {
        display: block;
    }
    .form-container button {
        width: 100%;
    }
}